<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="protocol" value="http"/>
		<add key="endpoint" value="192.168.1.75:8090"/>
		<add key="apiKey_ciphered" value="E:\Varios\KeysManagement\apiKey_epn_ciphered.txt"/>
		<add key="apiKey_private" value="E:\Varios\KeysManagement\key.txt"/>
		<add key="path" value="E:\Doctorado\PrivacyAssessmentFrontend\Statistics"/>
		<add key="rscript" value="main.R"/>
		<add key="rpath" value="E:\Aplicaciones\R\bin"/>
	</appSettings>
</configuration>