<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="protocol" value="http"/>
		<add key="endpoint" value="192.168.1.75"/>
		<add key="apiKey" value="123456"/>
		<add key="path" value="E:\Doctorado\PrivacyAssessmentFrontend\Statistics"/>
		<add key="rscript" value="main.R"/>
		<add key="rpath" value="E:\Aplicaciones\R\bin"/>
	</appSettings>
</configuration>